<p>
	<strong>Name:</strong>
	<%= @restaurant.name %>
</p>

<p>
	<strong>Cuisine</strong>
	<%= @restaurant.cuisine %>
</p>

<h2>Reviews</h2>
<% @restaurant.reviews.each do | review| %>
	<p>
		<strong>Reviewer:</strong>
		<%= review.reviewer%>
	</p>
	<p>
		<strong>Rating:</strong>
		<%= review.rating%>
	</p>
	<p>
		<strong>Review:</strong>
		<%= review.review%>
	</p>
<%end%>


<h2>Add a review</h2>
<%= form_for([@restaurant, @restaurant.reviews.build]) do |form| %>
	<p>
		<%= form.label :reviewer %><br>
		<%= form.text_field :reviewer %>
	</p>

	<p>
		<%= form.label :rating %><br>
		<% 1.upto(5) do |n| %>
			<%= form.radio_button(:rating, n) %>
			<%= form.label(:rating, n, value: n) %>
		<% end %>
	</p>

	<p>
		<%= form.label :review %><br>
		<%= form.text_area :review %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<%end%>